# This notebook will be used for IBM data science course capstone project

In [163]:
import pandas as pd
import numpy as np
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

# Load Data set

In [164]:
df_raw = pd.read_csv("Data-Collisions.csv")
df_raw.head()

/opt/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

# Drop labels and rename

In [165]:
#dropping non-useful columns from the data set - keys/identifiers, state assigned codes, casual codes, descriptions, Geometry fields
df = df_raw.drop(labels = ['X','Y','REPORTNO','SEVERITYCODE.1','STATUS','SEVERITYDESC','OBJECTID','INCKEY','COLDETKEY','INTKEY','LOCATION','EXCEPTRSNCODE','EXCEPTRSNDESC','INCDATE','SDOT_COLCODE','SDOT_COLDESC','PEDROWNOTGRNT','SDOTCOLNUM','SPEEDING','ST_COLDESC','SEGLANEKEY','CROSSWALKKEY','HITPARKEDCAR'],axis = 1)

#renaming columns for better understanding
df.rename(columns = {"INATTENTIONIND":"InAttention","UNDERINFL":"Under Influence","ST_COLCODE":"State Collision Code","INCDTTM":"Incident Date Time"},inplace=True)

# Understanding the Dataset

In [166]:
#data understanding
df.describe()

#missing values
df.isnull().sum()

#dropping InAttention column due to high missing values
df.drop(labels = ['InAttention'],axis = 1, inplace = True)
df.shape

(194673, 14)

In [167]:
#convert to DateTime object
df['Incident Date Time']=pd.to_datetime(df['Incident Date Time'])

#drop all the missing values in the dataset
df.dropna(subset=['ADDRTYPE', 'COLLISIONTYPE','JUNCTIONTYPE','WEATHER','ROADCOND','LIGHTCOND','State Collision Code'], axis=0,inplace=True)
df.isnull().sum()

df.shape

(182895, 14)

# Data Visualization and Pre-processing

In [168]:
df["SEVERITYCODE"].value_counts()

1    126270
2     56625
Name: SEVERITYCODE, dtype: int64

In [169]:
#Convert ADDRTYPE categorical variable
df.groupby(['ADDRTYPE'])['SEVERITYCODE'].value_counts()
df['ADDRTYPE'].replace(to_replace=['Alley','Block','Intersection'], value=[0,1,2],inplace=True)

In [170]:
#Convert COLLISIONTYPE categorical variable
df.groupby(['COLLISIONTYPE'])['SEVERITYCODE'].value_counts()
df['COLLISIONTYPE'].replace(to_replace=['Angles','Cycles','Head On','Left Turn','Other','Parked Car','Pedestrian','Rear Ended','Right Turn','Sideswipe'], value=[0,1,2,3,4,5,6,7,8,9],inplace=True)

In [171]:
#Convert JunctionTYPE categorical variable
df.groupby(['JUNCTIONTYPE'])['SEVERITYCODE'].value_counts()

#Drop the fields where junctiontype is unknown 
df.drop(df[df['JUNCTIONTYPE'] == 'Unknown'].index, inplace = True) 
df['JUNCTIONTYPE'].replace(to_replace=['At Intersection (but not related to intersection)','At Intersection (intersection related)','Driveway Junction','Mid-Block (but intersection related)','Mid-Block (not related to intersection)','Ramp Junction'], value=[0,1,2,3,4,5],inplace=True)

In [172]:
#Clean the Under influnce column with hreplacing N with 0 and Y with 1
df['Under Influence'].replace({'N':0,'Y':1,'0':0,'1':1},inplace=True)

In [173]:
#Convert WEATHER categorical variable
df.groupby(['WEATHER'])['SEVERITYCODE'].value_counts()
df.drop(df[df['WEATHER'] == 'Unknown'].index, inplace = True) 
df['WEATHER'].replace(to_replace=['Blowing Sand/Dirt','Clear','Fog/Smog/Smoke','Other','Overcast','Partly Cloudy','Raining','Severe Crosswind','Sleet/Hail/Freezing Rain','Snowing'], value=[0,1,2,3,4,5,6,7,8,9],inplace=True)

In [174]:
#Convert ROADCOND categorical variable
df.groupby(['ROADCOND'])['SEVERITYCODE'].value_counts()
df.drop(df[df['ROADCOND'] == 'Unknown'].index, inplace = True) 
df['ROADCOND'].replace(to_replace=['Dry','Ice','Oil','Other','Sand/Mud/Dirt','Snow/Slush','Standing Water','Wet'], value=[0,1,2,3,4,5,6,7],inplace=True)

In [177]:
#Convert LIGHTCOND categorical variable
df.groupby(['LIGHTCOND'])['SEVERITYCODE'].value_counts()
df.drop(df[df['LIGHTCOND'] == 'Unknown'].index, inplace = True) 
df['LIGHTCOND'].replace(to_replace=['Dark - No Street Lights','Dark - Street Lights Off','Dark - Street Lights On','Dark - Unknown Lighting','Dawn','Daylight','Dusk','Other'], value=[0,1,2,3,4,5,6,7],inplace=True)

In [188]:
#Type cast state collision code as int
df['State Collision Code'] = df['State Collision Code'].astype('int')